.mainBox{
    height: auto;
    width: auto;
}
.header{
     text-align: center;
     padding-bottom: 20px;
     height: 85px;
}
.name{
    font-size: larger;
    font-weight: bolder;
    font-family: Bahnschrift SemiBold;
    margin-bottom: -30px;
}
.nick{
    text-align: center;
    font-family: Ink Free;
    height: auto;
    width: auto;
    padding-bottom: 20px;
}
.about{
    text-align: center;
}
.aboutBox{
    font-size: larger;
    font-weight: bold;
    font-family: Lucida Sans;
}
.about-text{
    font-family: Mangal;
}
p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.social{
    text-align: center;
    height: auto;
    padding-bottom: 20px;
    margin-top: 20px;
    font-size: large;
    font-family: Trebuchet MS;

}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
 }
 
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}
.fa-github {
  background: black;
  color: white;
}
footer{
    text-align: center;
}
.copyright{
    font-family: Segoe Script;
}
.version{
    font-size: large;
    font-weight: bold;
    font-family: Rockwell;
}
.u_cons{
    color:red;
}
